In [1]:
import scripts.query_database as function
import pandas as pd

In [2]:
imdb_db = function.get_imdb()

In [3]:
imdb_db.head(5)

,_id,primaryTitle,originalTitle,isAdult,release_year,runtimeMinutes,imdb_avgRating,imdb_numVotes,Directors,Writers,casts,genres
0,tt0000502,Bohemios,Bohemios,0,1905,100.0,4.5,8.0,[Ricardo de Baños],"[Miguel de Palacios, Guillermo Perrín]","[Antonio del Pozo, El Mochuelo]",NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70.0,6.1,622.0,[Charles Tait],NaN,"[Elizabeth Tait, John Tait, Norman Campbell, B...","[Action, Adventure, Biography]"
2,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,4.5,14.0,[Charles MacMahon],[Rolf Boldrewood],"[Jim Gerald, George Merriman, Lance Vane, Will...",[Drama]
3,tt0000630,Hamlet,Amleto,0,1908,NaN,3.2,11.0,[Mario Caserini],[William Shakespeare],[Fernanda Negri Pouget],[Drama]
4,tt0000675,Don Quijote,Don Quijote,0,1908,NaN,4.9,9.0,[Narciso Cuyàs],[Miguel de Cervantes y Saavedra],NaN,[Drama]

In [4]:
tmdb_db = function.get_tmdb()

In [5]:
tmdb_db.head(5)

,_id,tmdb_id,genres,poster_path,original_language,popularity,budget,revenue,status,tagline,...,num_of_crew,top_10_crew_popularity_mean,crews,top_10_crew_popularity,Directors,tmdb_avgRating,tmdb_numVotes,Writers,homepage,belongs_to_collection
0,tt0000574,20105,"[History, Action, Drama, Crime]",https://www.themoviedb.org/t/p/w600_and_h900_b...,en,2.764,0,0,Released,"The Most Sensational, The Most Thrilling and I...",...,5.0,0.60000,"[Charles Tait, Millard Johnson, Orrie Perry, R...","[0.6, 0.6, 0.6, 0.6, 0.6]",Charles Tait,5.3,21,NaN,NaN,NaN
1,tt0000615,603786,[Drama],NaN,en,0.600,0,0,Released,First filmed version of Rolf Boldrewood's 'Rob...,...,2.0,0.60000,"[Charles MacMahon, C. Byers Coates]","[0.6, 0.6]",Charles MacMahon,1.0,1,NaN,NaN,NaN
2,tt0000679,470664,"[Adventure, Fantasy]",https://www.themoviedb.org/t/p/w600_and_h900_b...,en,0.600,0,0,Released,NaN,...,4.0,0.81625,"[L. Frank Baum, Francis Boggs, Otis Turner, Na...","[1.237, 0.828, 0.6, 0.6]",Francis Boggs,1.0,1,[L. Frank Baum],NaN,NaN
3,tt0000846,668839,NaN,NaN,en,0.600,0,0,Released,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,1,NaN,NaN,NaN
4,tt0000867,668836,NaN,NaN,en,0.600,0,0,Released,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,1,NaN,NaN,NaN

In [6]:
reviews_db = function.get_reviews()

In [7]:
reviews_db.head(5)

         _id  tmdb_id                                             review
0  tt0004972      618  [{'author': 'prabhushakti', 'rating': 10.0, 'u...
1  tt0008431   285807  [{'author': 'Le_Schpountz', 'rating': 6.0, 'ur...
2  tt0009062    48214  [{'author': 'germish', 'rating': 9.5, 'url': '...
3  tt0009143   463115  [{'author': '27B/6', 'rating': None, 'url': 'h...
4  tt0010058   352098  [{'author': 'ObscurHollywood', 'rating': None,...

In [8]:
combined_db = function.get_combined()

In [9]:
combined_db.head(5)

,_id,primaryTitle,originalTitle,isAdult,release_year,runtimeMinutes,genres,imdb_avgRating,imdb_numVotes,Directors,...,top_10_cast_popularity,num_of_crew,top_10_crew_popularity_mean,crews,top_10_crew_popularity,tmdb_avgRating,tmdb_numVotes,Writers,homepage,belongs_to_collection
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70.0,"[Action, Adventure, Biography, History, Drama,...",6.1,622.0,[Charles Tait],...,"[0.6, 0.6]",5.0,0.60000,"[Charles Tait, Millard Johnson, Orrie Perry, R...","[0.6, 0.6, 0.6, 0.6, 0.6]",5.3,21.0,NaN,NaN,NaN
1,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,60.0,[Drama],4.5,14.0,[Charles MacMahon],...,"[0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6]",2.0,0.60000,"[Charles MacMahon, C. Byers Coates]","[0.6, 0.6]",1.0,1.0,[Rolf Boldrewood],NaN,NaN
2,tt0000679,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120.0,"[Adventure, Fantasy]",5.2,35.0,"[Francis Boggs, Otis Turner]",...,"[1.4, 1.237, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6...",4.0,0.81625,"[L. Frank Baum, Francis Boggs, Otis Turner, Na...","[1.237, 0.828, 0.6, 0.6]",1.0,1.0,[L. Frank Baum],NaN,NaN
3,tt0000846,Un día en Xochimilco,Un día en Xochimilco,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN
4,tt0000867,Fiesta de toros,Fiesta de toros,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN